/* font-family: "OpenSansRegular"; */
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot");
    src: url("../fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
    url("../fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansBold"; */
@font-face {
    font-family: "OpenSansBold";
    src: url("../fonts/OpenSansBold/OpenSansBold.eot");
    src: url("../fonts/OpenSansBold/OpenSansBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansBold/OpenSansBold.woff") format("woff"),
    url("../fonts/OpenSansBold/OpenSansBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansExtraBold"; */
@font-face {
    font-family: "OpenSansExtraBold";
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot");
    src: url("../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.woff") format("woff"),
    url("../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "OpenSansSemiBold"; */
@font-face {
    font-family: "OpenSansSemiBold";
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot");
    src: url("../fonts/OpenSansSemiBold/OpenSansSemiBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.woff") format("woff"),
    url("../fonts/OpenSansSemiBold/OpenSansSemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@primaryColor: #57778e;
@accentColor: #f3781e;
@gray: #d5d9db;
@grayInput: #e1e6e8;
@letterGray: #aaabad;

input::placeholder{
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 13px;
  opacity: 1;
  color: @letterGray;
}


input:focus::placeholder {opacity: 0;}


figure{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
}

ol{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

img{
  width: 100%;
  font-size: 0;
}

button{
  padding: 0;
}

h1{

}

h2{
  
}

h4{
  margin: 0;
}

p{
  margin: 0;
}

a{
  text-decoration: none;
}

div, section, article, header, main, footer, button, a, input, label,body{
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  font-family: "OpenSansRegular";
  font-size: 14px;
  overflow-x: hidden;
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 1920px;
}

.header{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60px;
  padding: 0 30px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.07);
  z-index: 2;
}

.logo{
  width: 120px;
  height: 60px;
  padding-top: 5px;
  font-family: "OpenSansExtraBold";
  font-size: 34px;
  text-transform: uppercase;
  letter-spacing: 2.25px;
  color: @primaryColor;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-position: 90px 14px;
}

.header__button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 36px;
  margin: 12px 0;
  border: 1px solid @accentColor;
  border-radius: 20px;
  text-align: center;
  font-family: "OpenSansBold";
  font-size: 13px;
  color: #fff;
  background: @accentColor;
  cursor: pointer;
  transition: 0.2s;
  transition-property: box-shadow border-color;

  &:hover{
    border-color: @gray;
    box-shadow: 0 5px 29px 5px rgba(70, 72, 74, 0.2);
  }

  &:active{
    background: darken(@accentColor, 5%);
  }
}

main{
  display: flex;
  justify-content: center;
  width: 100%;
}

.property-side{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  padding: 35px 30px;
  background: #fff;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.property-side__left{
  margin-right: 30px;
}

.show {
  display: flex;
}

.show__plus{
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 50%;
  background: @primaryColor;
  position: relative;
  cursor: pointer;
  transition: 0.2s;

  &:hover{
    background: darken(@primaryColor, 5%);
  }

  &:after{
    content: "";
    position: absolute;
    top: 8px;
    left: 4px;
    width: 10px;
    height: 2px;
    background: #fff;
  }

  &:before{
    content: "";
    position: absolute;
    top: 4px;
    left: 8px;
    width: 2px;
    height: 10px;
    background: #fff;
    transition: 0.2s;
    transition-property: height top;
  }
}

.show__plus--minus{
   &:before{
    top: 8px!important;
    height: 0!important;
   }
}

.show__description{
  font-family: "OpenSansSemiBold";
  font-size: 13px;
  color: @primaryColor;
}

.property-side__right{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 725px;
}

.search{
  width: 100%;
  position: relative;
}

.search__wrapper{
  display: flex;
  align-items: center;
  position: absolute;
  top: 28px;
  left: 45px;
  width: 100%;
  height: 38px;
  z-index: -1;
}

.search__wrapper--active{
  z-index: 1!important;
}

.search__roperty{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  margin-right: 5px;
  padding: 0 25px 0 10px;
  border: 1px solid #e1e6e8;
  border-radius: 4px;
  font-size: 13px;
  background: #fff;
  color: #28373e;
  position: relative;
  box-shadow: 0 1px 21px 5px rgba(0, 0, 0, 0.07);
}

.close{
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 100%;
  cursor: pointer;

  &:after{
      content: "";
      position: absolute;
      top: 12px;
      right: 5px;
      width: 13px;
      height: 3px;
      border-radius: 2px;
      background: #ff0000;
      transform: rotate(45deg);
    }

    &:before{
      content: "";
      position: absolute;
      top: 7px;
      right: 10px;
      width: 3px;
      height: 13px;
      border-radius: 2px;
      background: #ff0000;
      transform: rotate(45deg);
    }
}

.search__label{
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-family: "OpenSansSemiBold";
  font-size: 13px;
  color: @primaryColor;
}

.search__input{
  width: 100%;
  height: 38px;
  padding-left: 45px;
  border: 1px solid @grayInput;
  border-radius: 5px;
  background-image: url("../img/searcher.png");
  background-repeat: no-repeat;
  background-position: 14px 10px;
  background-color: #fff;
  background-size: 17px;
  box-shadow: 0 1px 21px 1px rgba(0,0,0,0.07);
}

.property-side{
  box-shadow: 0 5px 35px 12px rgba(70, 72, 74, 0.12)
}

.properties {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 3px;
  border-bottom: 1px solid #eff3f5;
}

.properties__title{
  .show__description;
  display: flex;
  width: 100%;
  margin: 28px 0 25px 0;
}

.properties__plus{
  .show__plus;
}

.properties__wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.property {
  width: 33%;
  margin-bottom: 24px;
}

.property--hidden{
  display: none;
}

.property__description{
  position: relative;
  padding-left: 34px;
  font-size: 13px;
  color: #28373e;
  cursor: pointer;

  &:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #cdd1d4;
    border-radius: 2px;
    background: #fff;
    box-sizing: border-box;
    transition: 0.2s;
    transition-property: background-color;
  }
}

.property__checkbox{
  display: none;
} 

.property__checkbox:checked + .property__description:after{
  border: none;
  background-color: @primaryColor;
  background-image: url("../img/checked.png");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: 50%;
}

.result-side{
  width: 50%;
}

.tabs{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
}

.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 14px;
  font-family: "OpenSansBold";
  color: @primaryColor;
  cursor: pointer;
  /*box-shadow: inset 0 5px 32px 15px rgba(70, 72, 74, 0.12);*/
}

.tab--active{
  background: #fff;
  box-shadow: none;
}

.offers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 65px;
  padding-right: 30px;
  box-shadow: 0 5px 32px 15px rgba(70, 72, 74, 0.12);
}

.offers__result{
  font-family: "OpenSansSemiBold";
  font-size: 13px;
  color: #28373e;
}

.results{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px;
}

.hotel{
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  width: 48.335%;
  margin-bottom: 30px;
  position: relative;
}

.hotel__pic{
  width: 100%;
  max-width: 435px;
  font-size: 0;
}

.hotel__row{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
}

.hotel__name{
  font-family: "OpenSansSemiBold";
  font-size: 16px;
}

.hotel__price {
  display: flex;
  position: relative;
  bottom: 8px;
}

.hotel__currency{
  font-family: "OpenSansRegular";
  font-size: 14px;
  position: absolute;
  top: -8px;
  left: -12.5px;
}

.hotel__current{
  font-family: "OpenSansRegular";
  font-size: 24px;
  line-height: 12px;
}

.map{
  width: 100%;
}

.map__img{
 filter: saturate(10%);
 z-index: -1;
}





.hidden{
  display: none;
}








































@media (max-width: 1440px){
  .property{
    width: 50%;
  }

  .show__description{
    display: none;
  }

  .show .show__plus{
    margin-right: 0;
  }

  .hotel__row{
    flex-wrap: wrap;
  }

  .hotel__name{
    width: 100%;
  }

  .hotel__price{
    bottom: 0;
    margin: 10px;
  }
}

@media (max-width: 1024px){
  .property-side{
    width: 100%;
  }

  .wrapper{
    flex-wrap: wrap;
  }
  
  .property-side{
    width: 100%;
    justify-content: flex-start;
  }

  .property-side__right{
    width: 100%;
  }

  .result-side{
    width: 100%;
  }
}

@media (max-width: 540px){
  .property-side__left{
    display: none;
  }

  .property{
    width: 100%;
  }

  .hotel{
    width: 100%;
  }

  .hotel__pic{
    max-width: 100%;
  }
}

@media (max-width: 480px){
  input::placeholder{
    opacity: 0;
  }
}

@media (max-width: 360px){
  .header__button{
    width: 130px;
    font-size: 12px;
  }
}
